@CHARSET "UTF-8";

/* #accordion{
	width:300px;
	height:100%;
	
}*/
 
/*  #ff{
 	margin-top: 100px; 
 	margin-left: 200px;
 } */
 
 #window{
 	width: 200px;
 	height:200px;
 }
 
 #dialog{
 	width:200px;
 	height:200px
 }
 
}


