@CHARSET "UTF-8";

/* #rr{
	width:200px;
	height:200px;
	border: 1px red solid;
} */

/* input{
	width:200px;
	height:20px;
	
} */

/* #br{
	width:200px;
	height:30px;
} */

#tabs{
	width:500px;
	height:300px;
}

.tab{
	height:223px;
}

}


