@charset "UTF-8"; 
body{
	font: 12px Microsoft YaHei;
}

a{text-decoration: none;}

.sshweb_header {
	
	height: 100px; 
	position: relative; 
	overflow: hidden; 
	border-bottom: 1px #95b8e7 solid; 
	background: url(../img/bg_header.jpg) bottom repeat-x; 
	background-size: 100%; 
	z-index: 0;
}
.sshweb_header_left {
	position: absolute; 
	z-index: 1, left:15px; 
	top: 0px;
}

.sshweb_header_left h1 {
	color: red; 
	font: 20px/20px Verdana;
}

.sshweb_header_right {
	z-index: 1;
	 right: 5px; 
	 top: 0px; color: red; text-align: right;
}

.sshweb_header_right p {
	line-height: 0.7em;
}

.sshweb_header_right a {
	color: red; 
	margin: 0 5px;
}

.sshweb_sidebar{width: 160px}



.sshweb_footer{height: 30px;padding: 5px;text-align: center;overflow: hidden;background: #e0ecff}





